h1 {
    color: darkgreen;
}

h2 {
    color: #ffffff;
    background: rgb(255, 0, 0);

}

section {
    background: #beaff1;
}

h1 {
    background: #afbc9b;
}

footer {
    color: #868383;
    background: #271c9d;